<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		 <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Eat-Da-Burgers!</title>
	</head>
	<body>

{{!-- THIS IS WHERE THE BODY OF THE LAYOUTS WILL GO --}}

		{{{ body }}}
	</body>
</html>
